@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root
{
    --alpha-color:rgb(0, 221, 255);
    /* --bg-color:linear-gradient(50deg,rgb(0, 0, 0),blue,aqua); */
    --bg-color:rgb(7, 15, 46);
    --logo-color:rgb(0, 221, 255);
    --font-color:white;
}

html, body
{
    font-size: 100%;
}

.home
{
    background: var(--bg-color);
    height: 100vh;
}

.home header
{
    display: flex;
    justify-content: space-between;
}

.home header nav
{
    display: flex;
    justify-content: space-between;
    margin: 1rem 2.5rem;
    width: 100%;
}

header a
{
    font-size: 1.5rem;
}

header .logo
{
    font-family: 'Redressed', cursive;
    letter-spacing: .2rem;
    font-size: 1.8rem;
    color: var(--logo-color);
    text-shadow: 0 0 10px aqua;
}

header a i
{
    color: var(--logo-color);
}

.content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    height: 90vh;
}

.content .left
{
    margin-left: 3rem;
    border: 2px solid red;
    text-align: center;
    width: 100vh;
}

/* .left .btn
{
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.left h1
{
    font-size: 4.5rem;
    width: 100%;
    margin-bottom: 2rem;
    color: var(--font-color);
}

.left h1 span
{
    font-family: 'Redressed', cursive;
    color: var(--alpha-color);
    font-size: 6rem;
    text-shadow:0 0 10px var(--alpha-color),
                0 0 15px var(--alpha-color),
                0 0 20px var(--alpha-color);
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: rgb(11, 16, 16);
    font-weight: 800;
}


.btn button
{
    width: 6rem;
    border-radius: 2rem;
    background: var(--alpha-color);
    border: 1px solid var(--alpha-color);
    box-shadow:0px 0px 10px var(--alpha-color);
    font-size: 1.3rem;
    padding: .4rem;
    text-align: center;
    margin-left: 3rem;
}